<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pt-5 pt-md-8">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <stats-card title="磁盘使用率"
                                type="gradient-red"
                                sub-title="25M"
                                icon="ni ni-cloud-upload-96"
                                class="mb-4 mb-xl-0"
                    >

                        <template slot="footer">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 25%</span>
                            <span class="text-nowrap">已使用容量</span>
                        </template>
                    </stats-card>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <stats-card title="磁盘容量"
                                type="gradient-orange"
                                sub-title="100M"
                                icon="ni ni-folder-17"
                                class="mb-4 mb-xl-0"
                    >

                        <template slot="footer">
                            <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 75%</span>
                            <span class="text-nowrap">剩余容量</span>
                        </template>
                    </stats-card>
                </div>
            </div>
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--7">
            <!--Tables-->
            <div class="row mt-5">
                <div class="col-xl-8 mb-5 mb-xl-0">
                    <page-visits-table></page-visits-table>
                </div>
                <div class="col-xl-4">
                    <social-traffic-table></social-traffic-table>
                </div>
            </div>
            <!--End tables-->
        </div>

    </div>
</template>
<script>
  import SocialTrafficTable from './Dashboard/SocialTrafficTable';
  import PageVisitsTable from './Dashboard/PageVisitsTable';

  export default {
    components: {
      PageVisitsTable,
      SocialTrafficTable,
    },
    data() {
      return {
      };
    },
    methods: {

    },
    mounted() {
    }
  };
</script>
<style></style>
