<template>
  <div>
    <base-header class="header pb-6 pt-5 pt-md-8 d-flex align-items-center"></base-header>

    <div class="container-fluid mt--7">
      <div class="row justify-content-center">
        <div class="col-xl-8 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Token 管理</h3>
                </div>
              </div>
            </div>
            <template>
              <form @submit.prevent>
                <h6 class="heading-small text-muted mb-4">公钥私钥对生成</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="AK"
                        placeholder="Username"
                        input-classes="form-control-alternative"
                        v-model="model.ak"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="SK"
                        placeholder="jesse@example.com"
                        input-classes="form-control-alternative"
                        v-model="model.sk"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted mb-4">
                  <small>小心~! 该操作可能导致外部调用失效</small>
              </div>
              <div class="text-center">
                <base-button type="primary" class="my-4">新生成</base-button>
              </div>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "user-profile",
  data() {
    return {
      model: {
        ak: "eyJhbGciOiJIUzI1",
        sk: "DkwIiwibmFtZSI6I",
      }
    };
  }
};
</script>
<style></style>
