<template>
  <div>
    <base-header class="header pb-6 pt-5 pt-md-8 d-flex align-items-center"></base-header>

    <div class="container-fluid mt--7">
      <div class="row justify-content-center">
        <div class="col-xl-8 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">修改信息</h3>
                </div>
              </div>
            </div>
            <template>
              <form @submit.prevent>
                <h6 class="heading-small text-muted mb-4">修改用户信息</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="用户名"
                        placeholder="Username"
                        input-classes="form-control-alternative"
                        v-model="model.username"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="邮箱"
                        placeholder="jesse@example.com"
                        input-classes="form-control-alternative"
                        v-model="model.email"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input class="input-group-alternative"
                                        placeholder="输入新密码"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password">
                            </base-input>
                    </div>
                    <div class="col-lg-6">
                      <base-input class="input-group-alternative"
                                        placeholder="确认输入"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password">
                            </base-input>
                    </div>
                  </div>
                </div>
              </form>
              <div class="text-center">
                <base-button type="primary" class="my-4">修改</base-button>
              </div>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "user-profile",
  data() {
    return {
      model: {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        address: "",
        city: "",
        country: "",
        zipCode: "",
        about: ""
      }
    };
  }
};
</script>
<style></style>
